{% extends 'base.html' %}
{% load static %}
{% block body %}
<h1>Daftar Kegiatan</h1>
<div class="col-sm-4">
  {% for object in obj %}
<strong>{{ object.nama }}</strong>
{% for orang in peserta %}
{% if orang.kegiatan == object %}
<li>
  <ul>{{ orang.peserta }}</ul>
</li>
{% endif %}
{% endfor %}
{% endfor %}
 
</div>
    
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Ikut Kegiatan
</button>

<!-- Modal -->
<form method="POST">
  {% csrf_token %}
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Gabung {{ object.nama }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Silahkan Pilih Kegiatan di Bawah <br>
        {{ form.as_p }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}