<!DOCTYPE html>
<html>
<head></head>
<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'kuliah:formMatkul' %}">Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'kuliah:resultMatkul' %}">Result</a>
        </li>
    </ul>
</nav>
</body>
</html>