{% extends 'bases.html' %}
{% load static %}
{% block body %}

<table style="text-align: center;">
        <tr>
            <th>Matkul</th>
            <th>Dosen</th>
            <th>Jumlah SKS</th>
            <th>Semester</th>
            <th>Kelas</th>
            <th>Deskripsi</th>
        </tr>
        {% for hasil in details %}
        
        <tr>
            <td><a href="{% url 'kuliah:detailsMatkul' pkTarget=hasil.pk  %}">{{ hasil.fields.nama }}</a></td>
            <td>{{ hasil.fields.dosen }}</td>
            <td>{{ hasil.fields.sks }}</td>
            <td>{{ hasil.fields.semester }}</td>
            <td>{{ hasil.fields.kelas }}</td>
            <td>{{ hasil.fields.deskripsi }}</td>
            <br>
        </tr>
        {% endfor %}

    </table>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% endblock %}
