{% extends 'bases.html' %}
{% load static %}
{% block body %}
    <h1>Jadwal Kuliah</h1>
    <form method="POST" action="#">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SUBMIT</button>
    </form>
{% endblock %}
