<!DOCTYPE html>
<html>
<head></head>
<body>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}">Tentang</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:riwayat' %}">Riwayat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage2:indexdua' %}">Story 1</a>
        </li>
    </ul>
</nav>
</body>
</html>