<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Story 3 Rafli Bangsawan</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header><h1>B a n g s a w a n</header>
          {% include 'includes/_navbar.html' %}
            <br>
          {% block body %}

          {% endblock %}
        <footer>
            <ul>
                <li><a href="www.linkedin.com/raflibangsawan"><img src="{% static '58e91afdeb97430e81906504.png' %}"></a></li>
                <li><a href="www.twitter.com/raflibangsawan0"><img src="{% static '580b57fcd9996e24bc43c53e.png' %}"></a></li>
                <li><a href="www.instagram.com/raflibangsawan"><img src="{% static '580b57fcd9996e24bc43c521.png' %}"></a></li>
            </ul>
        </footer>
    </body>
</html>