{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="headline" align="center">
    <p><b>T E N T A N G</b></p>
</div>
<img src="{% static 'mantap.png' %}" style="width: 100%; height:auto">
<div class="profile" align="center" style="width: 100%; height: auto; padding: 0 30% 0 30%;">
    <img src="{% static 'line_268100084708497.jpg' %}" style="width: 300px; height: 300px; margin-top: 20%;">
    <h1 style="margin-top: 3%;">Hai, Saya Awan!</h1>
    <p style="margin-top: 5%; text-align: justify; padding-bottom: 20%;">Merupakan mahasiswa Ilmu Komputer Universitas Indonesia. Lahir tanggal 27 Desember 2000 di Bandar Lampung. 
    Selain di dunia programming, juga memiliki ketertarikan dalam musik. Lulus pada tahun 2019 dari SMAN 2 Bandar Lampung.
    Mempunyai harapan untuk dapat berperan dalam banyak aspek terutama dalam bidang IT.</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
Gallery saya
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'bicf.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'mantap.png' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static '4pilar.jpg' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
</div>
{% endblock %}