{% extends 'base.html' %} 
<!DOCTYPE html>
{% load static %}
{% block body %}
<div class="headline" align="center">
  <p><b>R I W A Y A T</b></p>
</div>
<div class="profil1" align="center" style="width: 100%; height: auto;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'bicf.jpg' %}" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Bali International Choir Festival</h5>
            <p>Mendapat 3 Gold Medal di 2 Kategori</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'mantap.png' %}" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>Festival Lomba Seni Siswa Nasional 2018</h5>
            <p>Meraih medali perak di cabang gitar solo</p>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static '4pilar.jpg' %}" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5>LCC 4 Pilar Kebangsaan MPR RI 2018</h5>
            <p>Mendapat Juara 2 Provinsi</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
{% endblock %}